<!-- Navbar-->
<app-navbar></app-navbar>
<!-- Start Content-->
<div class="container-fluid">
    <div class="row">
        <!-- Start Navigation links-->
        <div class="col-sm-3 p-0">
            <div class="list-group navagation">
                <a routerLink="/dash" class="list-group-item list-group-item-action">Dash board</a>
                <a routerLink="/emp" class="list-group-item list-group-item-action">Add Employee </a>
            </div>
        </div>
        <!-- start Navigation content -->
        <div class="col-sm-9 p-0">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>